.navbar-content {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid var(--sec-color);
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

/* backdrop-filter: blur(2px); */
/* backdrop-filter: brightness(60%); */
/* backdrop-filter: hue-rotate(120deg); */
/* backdrop-filter: invert(70%); */
/* backdrop-filter: sepia(70%); */

a {
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--sec-color);
  font-size: 1rem;
  font-weight: 700;
}
