.container-form {
  direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box-form {
  display: flex;
  justify-content: center;
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.contact-title h2 {
  margin: 0px;
}

.blink-contact {
  animation-duration: 7s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
  height: 100%;
  width: 12rem;
}

/* Au sujet du formulaire::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Styles pour le composant TextField: */
.TextField {
  margin-top: 2px;
  color: var(--sec-color);
  font-size: 1.2rem;
  font-weight: 300;
}

/* Styles pour MuiInputLabel: */
.TextField .MuiInputLabel-root {
  color: var(--sec-color);
}

/* Styles pour MuiInputLabel lorsqu'il est en focus: */
.TextField .Mui-focused .MuiInputLabel-root {
  color: var(--sec-color);
  transform: translate(14px, -6px) scale(0.75);
}

/* Styles pour MuiOutlinedInput: */
.TextField .MuiOutlinedInput-root {
  /* Styles pour le fieldset à l'intérieur de MuiOutlinedInput: */
  & fieldset {
    border-color: var(--sec-color);
  }

  /* Styles pour le fieldset lorsqu'il est survolé: */
  &:hover fieldset {
    border-color: var(--third-color);
  }

  /* Styles pour le fieldset lorsqu'il est en focus: */
  &.Mui-focused fieldset {
    border: 1px solid var(--sec-color);
  }
}

/* Style pour le bouton d'envoi: */
.submit {
  color: var(--sec-color) !important;
  border: 1px solid var(--sec-color) !important;
  color: var(--sec-color) !important;
  font-size: 1.2rem !important;
  font-weight: 300 !important;
}

/* Animation:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media (max-width: 769px) {
  .container-form {
    align-items: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
