#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

#contact h3 {
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsive:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media (max-width: 769px) {
  #contact {
    margin: 0px;
  }
}
