#contact {
  display: flex;
  flex-direction: column;
}

#contact h3 {
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
