.card {
  transition: transform 0.4s ease-in-out;
  height: 11rem;
  /* height: 100%; */
  width: 17rem;
}

/* .card img { */
/* height: 11rem; */
/* height: 100%;
  width: 100%; */
/* width: 17rem; */
/* } */

.card:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-cover {
  border-radius: 30px;
  object-fit: fill;
  border: 4px solid var(--third-color);
}
