/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
* {
  margin: 0px;
  padding: 0px;
}

body {
  /* font-family: "Snell Roundhand", cursive, sans-serif; */
  background-color: var(--main-color);
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--third-color);
  -webkit-text-stroke: 1px var(--sec-color);
  font-size: 5em;
  font-weight: 1200;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  font-weight: 1200;
  position: absolute;
  width: 100%;
  text-align: center;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: 1200;
  color: var(--sec-color);
  /* -webkit-text-stroke: 2px var(--third-color); */
  margin-top: 2.3rem;
}

:root {
  --main-color: rgb(27, 25, 25);
  --sec-color: white;
  /* --third-color: #0f03f4; */
  --fourth-color: rgb(255, 0, 234);
}
