.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
  -webkit-text-stroke: 0.5px var(--sec-color);
  height: 4rem;
  /* background-image: url("../../Assets/Images/sky4.avif"); */
  /* background: transparent; */
  /* background-color: #5dfbeb; */
}

.copyright {
  color: var(--third-color);
  -webkit-text-stroke: 0.5px var(--sec-color);
  font-size: 1rem;
  font-weight: 600;
}
