#aboutMe {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

h3 {
  align-items: center;
}

.to-present {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 4mm ridge var(--third-color);
  margin-top: 3.4rem;
  margin-bottom: 1.8rem;
  text-align: justify;
}

.to-present p {
  margin: 0.5rem;
  color: var(--sec-color);
  font-size: 1.6rem;
  font-weight: 300;
}
