#aboutMe {
  padding: 60px;
  display: flex;
  flex-direction: column;
  /* background-color: var(--sec-color); */
}

#aboutMe h3 {
  align-items: center;
  /* color: var(--main-color); */
}

.to-present {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 25px;
  border: 4mm ridge var(--main-color);
  margin-top: 3.4rem;
  margin-bottom: 1.8rem;
  text-align: justify;
  background-color: var(--fifth-color);
  /* color: var(--main-color); */
}

.to-present p {
  margin: 0.5rem;
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 300;
}
