.banner {
  text-align: center;
  /* position: relative; */
  /* z-index: 1; */
  /* background: linear-gradient(141deg, #292828 25%, #070707 40%, #363535 55%); */
  color: var(--sec-color);
  /* -webkit-text-stroke: 2px black; */
  /* background-image: url("../../Assets/Images/pictures/book4.avif"); */
  background-color: var(--main-color);
  object-fit: cover;
  /* font-family: "Roboto"; */
  padding-top: 40vh;
  /* height: 100vh; */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  /* backface-visibility: hidden;
perspective: 1000px;
transform: translate3d(0, 0, 0); */
}

.port-folio {
  display: inline-block;
  white-space: nowrap;
}

.font {
  font-size: 3rem;
  font-weight: 600;
}

.banner span {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.port-folio:first-of-type {
  animation: showup 7s infinite;
}

.port-folio:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.port-folio:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

/* Pour la flêche et le mot "scroll": */
.blink-banner {
  animation-duration: 2s;
  animation-name: clignote;
  animation-iteration-count: infinite;
  transition: none;
  padding-top: 6rem;
}

@keyframes clignote {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
